{% extends "layout.html" %}


{% block body %}
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-2" style="background-color:lavender;">
        <div class="list-group">
          <a href="#" class="list-group-item active">WELCOME {{ session.d_name }} </a>
          <a href="#" class="list-group-item"> PROFILE</a>
          <a href="/chatting/{{ session.uid }}" class="list-group-item"> CHATS </a>
          <a href="#" class="list-group-item"> LASTEST NEWS </a>
          <a href="#" class="list-group-item"> UPCOMING CLASSES </a>
          <a href="#" class="list-group-item"> SETTINGS </a>
          <a href="#" class="list-group-item"> HELP </a>
          
          <hr>
          <br>
          <br>
          <a href="/logout" class="list-group-item logout"> LOGOUT </a>
        </div>
      
    </div>	
    <div class="col-xs-10" style="background-image: url(static/csc.jpg); background-repeat: none; background-size: cover; height: 100%;">
      <h1 style="color: royalblue">Hi {{ session.s_name }}</h1>
        <p class="lead" style="color: royalblue; position: center;"> WELCOME TO MY APP.</p>
        <a href="/chatting/{{ session.uid }}" class="btn btn-primary btn-lg">Let's Start Chat</a>
        <a type="button" class="btn btn-lg btn-primary " data-toggle="modal" data-target="#myModal">Let's Start Chat2</a>
    </div>
</div>

    <div class="container-fluid">
    <h3 class="text-center"> Latest News </h3>
    <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/lights.jpg" target="_blank">
          <img src="url({{ url_for('static', filename='arsenal.jpg') }})" alt="Lights" style="width:100%">
          <div class="caption">
            
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail hover-shadow">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="nevile.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Gary Nevile's Verdict on the Race for Second Behind ... </p>
          </div>
        </a>
      </div>
    </div>
     <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="arsenal.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Arsenal FC aiming to give their best on the pitch  </p>
          </div>
        </a>
      </div>
    </div>
  </div>


  <div id="myModal" class="modal fade" role="dialog">


   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
    <script>
        function ajax(){

        var req = new XMLHttpRequest();
        req.onreadystatechange = function(){
        if(req.readyState == 4 && req.status == 200)
        {
        document.getElementById('chats').innerHTML = req.responseText;
        }
        }
        req.open('POST', '/chats', true);
        req.send();
        }
        setInterval(function(){ajax()}, 1000);
    </script>
    <div class="row" onload="ajax();">
        <div class="col-xs-1"></div>
        <div class="col-xs-4" style="background-color: #f5f5f5;margin: 0px 10px;border-radius: 4px; padding: 10px 20px 20px 20px;">
            <div style="text-align: center;font-size: 18px;background-color: #ddd;border-radius: 4px;color: #5e5fa4;margin-bottom: 8px;">
                <span>Users Chart</span>
            </div>
            <ul class="list-group">
                {% for user in users %}
                    {% if user.id != session.uid %}
                        <li class="list-group-item"><a href="{{user.id}}"> {{user.name}} </a>
                            {% if user.online != "0" %}
                                <span style="height: 12px;width: 12px;background-color: #1fc124;border-radius: 6px;
                                float: right;margin-top: 5px;"></span>
                            {% else %}
                                <span style="height: 12px;width: 12px;background-color: #8a8a8a;border-radius: 6px;
                                float: right;margin-top: 5px;"></span>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-6" style="background-color: #f5f5f5;margin: 0px 10px;border-radius: 4px; padding: 10px 20px 20px 20px;">

            {% if session.lid %}
                {% if session.name != session.s_name %}
                    <div style="text-align: center;font-size: 18px; color: #22aa45;background-color: #ddd;border-radius: 4px;">
                        <span>{{ session.name }}</span>
                    </div>
                    <div id="chat-box" style="overflow-y: scroll; height: 350px; padding: 10px 0px 0px 0px;">
                        <div id="chats"></div>
                    </div>
                    {% from "includes/_formhelpers.html" import render_field %}
                    <div>
                        <form method="POST" action="">
                        <div class="form-group">
                            {{render_field(form.body, class_="form-control", value="", placeholder="Enter your text...")}}
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Send</button>
                        </form>
                    </div>
                {% else %}
                    <div style="text-align: center;">
                        <h1>Welcome to Chat Room</h1>
                        <p class="lead">Select users and start chat...</p>
                    </div>
                {% endif %}
            {% endif %}

        </div>
        <div class="col-xs-1"></div>
    </div>


    </div>
    </div>
</div>


{% endblock %}