  {% extends "layout.html" %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
    	<div class="loginboxx">
        
          <h1>SIGNUP HERE</h1>
          <form method= "POST" action="">
            
            <input type="text" name="name" placeholder="enter name" name="first">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirm" placeholder="Password">
            <input type="submit" name="" value="sign up">

          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}